3. Semester Projekt/Website/Gui/Connected Services/DrinkServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
  <xs:element name="CreateDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="drink" nillable="true" type="q1:Drink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="GetDrinkResult" nillable="true" type="q2:Drink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDrinks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDrinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="getAllDrinksResult" nillable="true" type="q3:ArrayOfDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="drink" nillable="true" type="q4:Drink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDrinkById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DrinkId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDrinkByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIngredientToDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingredientID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="drink" nillable="true" type="q5:Drink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIngredientToDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIngredientFromDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingredientID" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="drink" nillable="true" type="q6:Drink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIngredientFromDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDrinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDrinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="SearchDrinksResult" nillable="true" type="q7:ArrayOfDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAlchohol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="alchohol" nillable="true" type="q8:Alchohol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAlchoholResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlchohol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlchoholResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="GetAlchoholResult" nillable="true" type="q9:Alchohol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlchohols">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlchoholsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="GetAllAlchoholsResult" nillable="true" type="q10:ArrayOfAlchohol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelflask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelflaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="GetHelflaskResult" nillable="true" type="q11:HelFlask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchHelflask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchHelflaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="searchHelflaskResult" nillable="true" type="q12:ArrayOfHelFlask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchAlchohol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchAlchoholResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="searchAlchoholResult" nillable="true" type="q13:ArrayOfAlchohol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>