3. Semester Projekt/WpfDrinkzy/WpfDrinkzy/Connected Services/IngredientServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IngredientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIngredientService_createIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:createIngredient" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_createIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:createIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_GetIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredient" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_GetIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_getAllIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllIngredients" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_getAllIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_SearchIngedient_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchIngedient" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_SearchIngedient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchIngedientResponse" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_DeleteIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteIngredient" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_DeleteIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_UpdateIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIngredient" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_UpdateIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIngredientResponse" />
  </wsdl:message>
  <wsdl:portType name="IIngredientService">
    <wsdl:operation name="createIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IIngredientService/createIngredient" message="tns:IIngredientService_createIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIngredientService/createIngredientResponse" message="tns:IIngredientService_createIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IIngredientService/GetIngredient" message="tns:IIngredientService_GetIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIngredientService/GetIngredientResponse" message="tns:IIngredientService_GetIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IIngredientService/getAllIngredients" message="tns:IIngredientService_getAllIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIngredientService/getAllIngredientsResponse" message="tns:IIngredientService_getAllIngredients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchIngedient">
      <wsdl:input wsaw:Action="http://tempuri.org/IIngredientService/SearchIngedient" message="tns:IIngredientService_SearchIngedient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIngredientService/SearchIngedientResponse" message="tns:IIngredientService_SearchIngedient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IIngredientService/DeleteIngredient" message="tns:IIngredientService_DeleteIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIngredientService/DeleteIngredientResponse" message="tns:IIngredientService_DeleteIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IIngredientService/UpdateIngredient" message="tns:IIngredientService_UpdateIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIngredientService/UpdateIngredientResponse" message="tns:IIngredientService_UpdateIngredient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIngredientService" type="tns:IIngredientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createIngredient">
      <soap:operation soapAction="http://tempuri.org/IIngredientService/createIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredient">
      <soap:operation soapAction="http://tempuri.org/IIngredientService/GetIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllIngredients">
      <soap:operation soapAction="http://tempuri.org/IIngredientService/getAllIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchIngedient">
      <soap:operation soapAction="http://tempuri.org/IIngredientService/SearchIngedient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteIngredient">
      <soap:operation soapAction="http://tempuri.org/IIngredientService/DeleteIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIngredient">
      <soap:operation soapAction="http://tempuri.org/IIngredientService/UpdateIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IngredientService">
    <wsdl:port name="BasicHttpBinding_IIngredientService" binding="tns:BasicHttpBinding_IIngredientService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/IngredientService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>