3. Semester Projekt/Website/Gui/Connected Services/MenucardServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
  <xs:element name="createMenuCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createMenuCardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="mc" nillable="true" type="q1:MenuCard" />
        <xs:element minOccurs="0" name="drinkID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByCustomerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="GetMenuByCustomerIDResult" nillable="true" type="q2:MenuCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDrinksByMenucard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDrinksByMenucardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="getAllDrinksByMenucardResult" nillable="true" type="q3:ArrayOfDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDrinkFromMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuID" type="xs:int" />
        <xs:element minOccurs="0" name="drinkid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDrinkFromMenuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrinksBySearchOnMenucard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrinksBySearchOnMenucardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="getDrinksBySearchOnMenucardResult" nillable="true" type="q4:ArrayOfDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>