3. Semester Projekt/Website/Gui/Connected Services/MenucardServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuCardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuCardService_createMenuCard_InputMessage">
    <wsdl:part name="parameters" element="tns:createMenuCard" />
  </wsdl:message>
  <wsdl:message name="IMenuCardService_createMenuCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:createMenuCardResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuCardService_addDrink_InputMessage">
    <wsdl:part name="parameters" element="tns:addDrink" />
  </wsdl:message>
  <wsdl:message name="IMenuCardService_addDrink_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDrinkResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuCardService_GetMenuByCustomerID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByCustomerID" />
  </wsdl:message>
  <wsdl:message name="IMenuCardService_GetMenuByCustomerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByCustomerIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuCardService_getAllDrinksByMenucard_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllDrinksByMenucard" />
  </wsdl:message>
  <wsdl:message name="IMenuCardService_getAllDrinksByMenucard_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllDrinksByMenucardResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuCardService_DeleteDrinkFromMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDrinkFromMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuCardService_DeleteDrinkFromMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDrinkFromMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuCardService_getDrinksBySearchOnMenucard_InputMessage">
    <wsdl:part name="parameters" element="tns:getDrinksBySearchOnMenucard" />
  </wsdl:message>
  <wsdl:message name="IMenuCardService_getDrinksBySearchOnMenucard_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDrinksBySearchOnMenucardResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuCardService">
    <wsdl:operation name="createMenuCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuCardService/createMenuCard" message="tns:IMenuCardService_createMenuCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuCardService/createMenuCardResponse" message="tns:IMenuCardService_createMenuCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDrink">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuCardService/addDrink" message="tns:IMenuCardService_addDrink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuCardService/addDrinkResponse" message="tns:IMenuCardService_addDrink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuByCustomerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuCardService/GetMenuByCustomerID" message="tns:IMenuCardService_GetMenuByCustomerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuCardService/GetMenuByCustomerIDResponse" message="tns:IMenuCardService_GetMenuByCustomerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllDrinksByMenucard">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuCardService/getAllDrinksByMenucard" message="tns:IMenuCardService_getAllDrinksByMenucard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuCardService/getAllDrinksByMenucardResponse" message="tns:IMenuCardService_getAllDrinksByMenucard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDrinkFromMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuCardService/DeleteDrinkFromMenu" message="tns:IMenuCardService_DeleteDrinkFromMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuCardService/DeleteDrinkFromMenuResponse" message="tns:IMenuCardService_DeleteDrinkFromMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDrinksBySearchOnMenucard">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuCardService/getDrinksBySearchOnMenucard" message="tns:IMenuCardService_getDrinksBySearchOnMenucard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuCardService/getDrinksBySearchOnMenucardResponse" message="tns:IMenuCardService_getDrinksBySearchOnMenucard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuCardService" type="tns:IMenuCardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createMenuCard">
      <soap:operation soapAction="http://tempuri.org/IMenuCardService/createMenuCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDrink">
      <soap:operation soapAction="http://tempuri.org/IMenuCardService/addDrink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuByCustomerID">
      <soap:operation soapAction="http://tempuri.org/IMenuCardService/GetMenuByCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDrinksByMenucard">
      <soap:operation soapAction="http://tempuri.org/IMenuCardService/getAllDrinksByMenucard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDrinkFromMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuCardService/DeleteDrinkFromMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDrinksBySearchOnMenucard">
      <soap:operation soapAction="http://tempuri.org/IMenuCardService/getDrinksBySearchOnMenucard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuCardService">
    <wsdl:port name="BasicHttpBinding_IMenuCardService" binding="tns:BasicHttpBinding_IMenuCardService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/MenuCardService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>