3. Semester Projekt/WpfDrinkzy/WpfDrinkzy/Connected Services/DrinkServiceRef/ModelLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Drink">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuperAlchohol">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ingredients" nillable="true" type="tns:ArrayOfIngredient" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Drink" nillable="true" type="tns:Drink" />
  <xs:complexType name="SuperAlchohol">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuperAlchohol" nillable="true" type="tns:SuperAlchohol" />
  <xs:complexType name="Alchohol">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuperAlchohol">
        <xs:sequence>
          <xs:element minOccurs="0" name="Procent" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Alchohol" nillable="true" type="tns:Alchohol" />
  <xs:complexType name="HelFlask">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuperAlchohol">
        <xs:sequence>
          <xs:element minOccurs="0" name="Procent" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HelFlask" nillable="true" type="tns:HelFlask" />
  <xs:complexType name="ArrayOfIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ingredient" nillable="true" type="tns:Ingredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredient" nillable="true" type="tns:ArrayOfIngredient" />
  <xs:complexType name="Ingredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Procent" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingredient" nillable="true" type="tns:Ingredient" />
  <xs:complexType name="ArrayOfDrink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Drink" nillable="true" type="tns:Drink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDrink" nillable="true" type="tns:ArrayOfDrink" />
  <xs:complexType name="ArrayOfAlchohol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alchohol" nillable="true" type="tns:Alchohol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlchohol" nillable="true" type="tns:ArrayOfAlchohol" />
  <xs:complexType name="ArrayOfHelFlask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelFlask" nillable="true" type="tns:HelFlask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelFlask" nillable="true" type="tns:ArrayOfHelFlask" />
</xs:schema>