3. Semester Projekt/Website/Gui/Connected Services/OrderServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrdersByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByUserId" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrdersByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CompleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CompleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CompleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByStatus" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrderByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderByID" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrderByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdatePrice_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrice" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdatePrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePriceResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_getAmountOfItemsInOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:getAmountOfItemsInOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_getAmountOfItemsInOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAmountOfItemsInOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_getLastOrderIDByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastOrderIDByUser" />
  </wsdl:message>
  <wsdl:message name="IOrderService_getLastOrderIDByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastOrderIDByUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/CreateOrder" message="tns:IOrderService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/CreateOrderResponse" message="tns:IOrderService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrder" message="tns:IOrderService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderResponse" message="tns:IOrderService_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetAllOrders" message="tns:IOrderService_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetAllOrdersResponse" message="tns:IOrderService_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrdersByUserId" message="tns:IOrderService_GetOrdersByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrdersByUserIdResponse" message="tns:IOrderService_GetOrdersByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/CompleteOrder" message="tns:IOrderService_CompleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/CompleteOrderResponse" message="tns:IOrderService_CompleteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrderByStatus" message="tns:IOrderService_GetOrderByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderByStatusResponse" message="tns:IOrderService_GetOrderByStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetUser" message="tns:IOrderService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetUserResponse" message="tns:IOrderService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetCustomer" message="tns:IOrderService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetCustomerResponse" message="tns:IOrderService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderByID" message="tns:IOrderService_DeleteOrderByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderByIDResponse" message="tns:IOrderService_DeleteOrderByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/UpdatePrice" message="tns:IOrderService_UpdatePrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/UpdatePriceResponse" message="tns:IOrderService_UpdatePrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAmountOfItemsInOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/getAmountOfItemsInOrder" message="tns:IOrderService_getAmountOfItemsInOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/getAmountOfItemsInOrderResponse" message="tns:IOrderService_getAmountOfItemsInOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastOrderIDByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/getLastOrderIDByUser" message="tns:IOrderService_getLastOrderIDByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/getLastOrderIDByUserResponse" message="tns:IOrderService_getLastOrderIDByUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByUserId">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrdersByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/CompleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByStatus">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrderByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderByID">
      <soap:operation soapAction="http://tempuri.org/IOrderService/DeleteOrderByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrice">
      <soap:operation soapAction="http://tempuri.org/IOrderService/UpdatePrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAmountOfItemsInOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/getAmountOfItemsInOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastOrderIDByUser">
      <soap:operation soapAction="http://tempuri.org/IOrderService/getLastOrderIDByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/OrderService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>